.idea/
Backend/Controller.pyc
Backend/Logs/**/*
!Backend/Logs/**/dabolink*
Backend/Values*
*.pyc
*~
*.swp
*.bat
!startuplive.bat
*.lnk
*__init__.py
client_secrets.json
DaBolinkBot-969873726721.json
test.py
Frontend/values*
.gitignore