{% extends "homelogin/base.html" %}

{% block content %}
<div class="inner cover tab-content">
    <div id="home" class="tab-pane fade in active">
        {% if username %}
            <p class="lead">
                Hello {{username}}. The bot in your channel is<br><br>
                <button class="btn btn-lg {{ buttonclass }}" onclick="toggleBot(event, '{{ username }}', '{{ backend_server_ip}}')">{{ botstatus }}</button>
                <p> Click to toggle! </p>
            </p>
            <object type="application/x-shockwave-flash" height="100%" width="100%" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{ username }}" bgcolor="#000000">
                <param name="allowFullScreen" value="true">
                <param name="allowScriptAccess" value="always">
                <param name="allowNetworking" value="all">
                <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf">
                <param name="wmode" value="opaque">
                <param name="flashvars" value="hostname=www.twitch.tv&amp;channel={{ username }}&amp;auto_play=true&amp;start_volume=25">
            </object>
        {% else %}
            <a href='{% url "twitch" %}' class="btn btn-lg btn-default btn-twitch">Login</a>
            <h1 class="cover-heading">Connect with <span class="header-twitch">Twitch.tv</span></h1>
            <p class="lead">See Features to find out if DaBolinkBot is right for you</p>
        {% endif %}
    </div>

    <div id="features" class="tab-pane fade">
        <h1 class="cover-heading">Features</h1>
        <div style="min-height: 75%">
            <div class="">
                <p class="lead">
                    <button class="btn btn-md" onclick="toggleCommand(true)">Admin Commands</button>
                    <button class="btn btn-md" onclick="toggleCommand(false)">User Commands</button>
                </p>
                <div class="adminCommands">
                    <p class="lead">
                        Admin Commands
                    </p>
                    {% for feature in features.admin %}
                        <bold>{{ feature.command | safe }}</bold><br>
                        <pre>   {{ feature.description}}</pre><br>
                    {% endfor %}
                </div>
            </div>
            <div class="">
                <div class="userCommands" style="display: none">
                    <p class="lead">
                        User Commands
                    </p>
                    {% for feature in features.user %}
                        <bold>{{ feature.command }}</bold><br>
                        <pre>   {{ feature.description}}</pre><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="tab-pane fade">
        <h1 class="cover-heading">Contact</h1>
        <p class="lead">Email submission box, and email address, and twitch link</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-default">Send</a>
        </p>
    </div>

    <div id="settings" class="tab-pane fade">
        {% if username %}
        <form method="post">{% csrf_token %}
            {{ form.as_p}}
            <input type="submit" name="settings">
        </form>
        {% else %}
        <h1 class="cover-heading">Settings</h1>
        <p class="lead">Here is where you can update your settings</p>
        <p class="lead">Please Log in</p>
        <a href='{% url "twitch" %}' class="btn btn-lg btn-default btn-twitch">Login</a>
        {% endif %}
    </div>
    <div id="Bookmarks" class="tab-pane fade">
        {% if username %}
        <form method="post">
            {% csrf_token %}
            {% for bookmark in bookmarks %}
            <li>
                {{ bookmark }}
            </li>
            {% endfor %}
            <!--<input type="submit" name="bookmarks-remove-all">-->
            <!--<input type="submit" name="bookmarks-remove-one">-->
            <h1>COMING SOON</h1>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content%}