{% extends "homelogin/base.html" %}

{% block nav %}
<li class="active"><a href="{% url "home" %}">Login</a></li>
<li><a href="{% url "features" %}">Features</a></li>
<li><a href="{% url "contact" %}">Contact</a></li>
{% endblock nav %}

{% block content %}
<div class="inner cover">
  <h1 class="cover-heading">Login via twitch</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <p class="lead">
  <a href="{% url "twitch" %}" class="btn btn-lg btn-default">Learn more</a>
  </p>
</div>
{% endblock content%}